@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet"');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet"');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

$--font-title: 'Poppins', Montserrat, sans-serif;
$--font-text: Montserrat, sans-serif;
